<% let iconSize=14 %>
<% let id_col = fields.find(f=>f.name.startsWith("id_")).name %>
<% let itemName = table.slice(0, -1) %>

<base href="<%= base %>">

<div class="row mb-3">
  <div class="col"><h1>Administraci칩n</h1></div>
  <div class="col-2 text-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalJsonImport" title="Subir JSON">
      <img src="/icons/file-earmark-arrow-up.svg" alt="subir" width="18" height="18">
    </button>
  </div>
</div>

<%- include('import-json') %>

<div class="table-responsive text-center">
    <table class="table table-striped w-auto mt-5 mx-auto">
        <thead>
            <th scope="col">Control</th>
            <% fields.forEach(f => { %>
            <th scope="col"><%= f.name %></th>
            <% }) %>
        </thead>
        <tbody>
            <% rows.forEach(r => { %>
            <tr>
                <td class="d-flex">
                    <a href="./update/<%= r[id_col] %>" class="btn btn-secondary mx-1" aria-label="Editar <%= itemName %>" title="Editar <%= itemName %>">
                        <img src="/icons/pencil-square.svg" alt="Icono l치piz" width="<%= iconSize %>" height="<%= iconSize %>">
                    </a>
                    <button class="btn btn-danger mx-1" aria-label="Borrar <%= itemName %>" title="Borrar <%= itemName %>">
                        <img src="/icons/trash-fill.svg" alt="Icono papelera" width="<%= iconSize %>" height="<%= iconSize %>">
                    </button>
                </td>
                <% fields.forEach(f => { %>
                <td class="text-truncate"><%= r[f.name] %></td>
                <% }) %>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmacionLabel">Atenci칩n</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalConfirmacionBody" class="modal-body">
                Est치s seguro que desas borrar
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/import-json.js"></script>