<!-- Layout comun para todas las paginas -->
<!DOCTYPE html>
<html lang="es" class="font-<%= accessibility.fontSize %>" data-bs-theme="<%= accessibility.theme %>">

<head>
    <meta charset="UTF-8">
    <title>PureVolt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="/icons/favicon.svg" type="image/svg+xml">
    <script defer src="/js/jquery-3.7.1.min.js"></script>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
    <script defer src="/js/formularioBootstrap.js"></script>

</head>

<body>
    <!-- Barra de navegacion, se expande en pantallas md o mas grande -->
    <nav class="navbar navbar-expand-md navbar-light bg-body-secondary">
        <div class="container-fluid">

            <!-- Menu hamburguesa para mostrar y ocultar la nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPureVolt" aria-controls="navbarPureVolt"
                aria-expanded="false" aria-label="Alternar barra de navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nombre de la empresa -->
            <a class="navbar-brand" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30" class="d-inline-block align-text-top">
                    <path fill="#fff"
                        d="M23.786 10.982c-.184-.433-.273-1.24-.268-1.714.009-.781.212-1.737.613-2.411.871-1.46 2.611-2.164 4.208-2.486.666-.134.916-.193 1.607-.193-.122 1.506-.248 3.061-1.042 4.393-.787 1.321-2.005 1.97-3.351 2.588l-1.071.52c.037-.791.504-1.505.928-2.143.597-.896 1.209-1.798 1.964-2.571-1.331.888-2.156 1.737-2.979 3.107-.182.304-.362.584-.504.911zM.139 4.447c.248-.105 1.146-.054 1.468-.054h6.75c1.322 0 2.361-.034 3.643.431 1.496.544 2.846 1.504 3.672 2.89.763 1.28.83 2.31.828 3.75-.002 1.228-.358 2.692-.988 3.75-.972 1.631-2.596 2.587-4.422 2.946-.322.063-.913.157-1.232.161H7.394c-.227.001-.555.016-.747.146-.28.191-.27.463-.271.764v6.054c-.003.146-.002.293-.124.396-.121.101-.317.085-.466.086H.482c-.114-.002-.249.003-.335-.086-.111-.112-.093-.354-.093-.502V4.875c.001-.187-.026-.272.086-.427Zm27.29 2.464h-.054l.054.054zM8.411 12.107c.054-.29.259-.727.375-1.018l.782-1.929.265-.696c.037-.088.072-.196 0-.267-.087-.067-.304-.055-.404-.055H5.786c-.12 0-.31-.011-.412.055-.19.123-.288.836-.344 1.07l-.861 3.696-.199.857c-.022.111-.078.296 0 .396.077.106.304.086.424.086h2.089l-.987 3.482c-.116.405-.393 1.106-.352 1.5.257-.132.411-.37.594-.589l.849-1.018 3.152-3.804.982-1.179c.082-.1.295-.328.269-.466-.029-.152-.32-.124-.434-.124zm14.304 9.429 1.651-4.5.422-1.232.588-1.661.393-1.125c.088-.264.173-.575.393-.761.204-.172.423-.2.679-.204h1.875c.209.001.574-.023.662.221.063.175-.143.617-.211.797l-.737 1.982-3.14 8.25-.517 1.339c-.255.642-.334 1.115-1.146 1.125h-2.143c-.245-.001-.43.012-.641-.142-.278-.202-.343-.516-.449-.822l-.52-1.393-1.862-4.929-1.187-3.107c-.127-.434.022-.769.159-1.179a10 10 0 0 0 .332-1.232c.041-.215.052-.68.22-.817.176-.144.913-.096 1.162-.093.916.011 1.009.563 1.25 1.286l1.266 3.911 1.393 4.286z" />
                </svg>
                <span class="d-none d-md-inline">PureVolt</span>
            </a>

            <!-- Boton de usuario para pantallas menos de md -->
            <div class="float-end d-md-none">
                <a href="#offcanvasUsuario" data-bs-toggle="offcanvas" aria-controls="offcanvasUsuario" aria-label="Abrir panel de usuario" class="d-block">
                    <img src="/img/personas_2/<%= locals.user ? user.foto_perfil : 'noUser.png' %>" width="40" height="40"
                        class="d-inline-block align-text-top rounded-circle border"
                        alt="<%= locals.user ? 'Perfil de ' + user.nombre : 'Usuario no autenticado' %>">
                </a>
            </div>

            <!-- Cuerpo de la barra de navegacion -->
            <div class="collapse navbar-collapse" id="navbarPureVolt">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Marcamos con active y con aria-current=page la sección seleccionada -->
                    <li class="nav-item">
                        <a class="nav-link <%- active.inicio ? 'active' : '' %>" <%- active.inicio ? 'aria-current="page"' : '' %> href="/">Inicio</a>
                    </li>
                    <% if (locals.user) { %>
                    <li class="nav-item">
                        <a class="nav-link <%- active.vehiculos ? 'active' : '' %>" <%- active.vehiculos ? 'aria-current="page"' : '' %>
                            href="/vehiculos">Vehículos disponibles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%- active.reservas ? 'active' : '' %>" <%- active.reservas ? 'aria-current="page"' : '' %> href="/reservas">Reservar
                            vehículo</a>
                    </li>
                    <% } %>

                    <!-- Opciones de administrador -->
                    <% if (locals.user && locals.user.rol === "admin") { %>
                    <li class="nav-item">
                        <a class="nav-link <%- active.administracion ? 'active' : '' %>" <%- active.administracion ? 'aria-current="page"' : '' %>
                            href="/administracion">Administración</a>
                    </li>

                    <% } %>
                    <li class="nav-item">
                        <button id="btnAccesibilidad" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalAccesibilidad">Accesibilidad</button>
                    </li>
                </ul>
            </div>

            <!-- Boton de usuario para pantallas md o mas -->
            <div class="float-end d-none d-md-block">
                <a href="#offcanvasUsuario" data-bs-toggle="offcanvas" aria-controls="offcanvasUsuario" aria-label="Abrir panel de usuario" class="d-block">
                    <img src="/img/personas_2/<%= locals.user ? user.foto_perfil : 'noUser.png' %>" width="40" height="40"
                        class="d-inline-block align-text-top rounded-circle border"
                        alt="<%= locals.user ? 'Perfil de ' + user.nombre : 'Usuario no autenticado' %>">
                </a>
            </div>
        </div>
    </nav>
    <!-- Cuerpo de la pagina -->
    <main class="container my-3 my-md-5">
        <!-- Contenido de la pagina -->
        <%- body %>

    </main>

    <!-- Modal de opciones de accesibilidad -->
    <div id="modalAccesibilidad" class="modal" tabindex="-1" aria-labelledby="modalAccesibilidadTitle">
        <div class="modal-dialog">
            <div class="modal-content">

                <form method="post" action="/accesibilidad/guardar">
                    <!-- Cabecera del modal -->
                    <div class="modal-header">
                        <legend class="modal-title" id="modalAccesibilidadTitle">Opciones de accesibilidad</legend>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>

                    <!-- Cuerpo del modal -->
                    <div class="modal-body">

                        <!-- Modos de color -->
                        <fieldset class="mb-3 pb-3 border-bottom">
                            <legend class="fs-5">Modo de color</legend>
                            <div class="form-check">
                                <input type="radio" id="radioTemaLight" class="form-check-input" name="theme" value="light"
                                    <%= accessibility.theme === "light" ? "checked" : "" %>>
                                <label for="radioTemaLight" class="form-check-label">Claro</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="radioTemaDark" class="form-check-input" name="theme" value="dark"
                                    <%= accessibility.theme === "dark" ? "checked" : "" %>>
                                <label for="radioTemaDark" class="form-check-label">Oscuro</label>
                            </div>
                        </fieldset>

                        <!-- Tamaños de fuente -->
                        <fieldset>
                            <legend class="fs-5">Tamaño de fuente</legend>
                            <div class="form-check">
                                <input type="radio" id="radioFontSizeSm" class="form-check-input" name="fontSize" value="sm"
                                    <%= accessibility.fontSize === "sm" ? "checked" : "" %>>
                                <label for="radioFontSizeSm" class="form-check-label">Pequeña</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="radioFontSizeMd" class="form-check-input" name="fontSize" value="md"
                                    <%= accessibility.fontSize === "md" ? "checked" : "" %>>
                                <label for="radioFontSizeMd" class="form-check-label">Mediana</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="radioFontSizeLg" class="form-check-input" name="fontSize" value="lg"
                                    <%= accessibility.fontSize === "lg" ? "checked" : "" %>>
                                <label for="radioFontSizeLg" class="form-check-label">Grande</label>
                            </div>
                        </fieldset>
                    </div>

                    <!-- Footer del modal -->
                    <div class="modal-footer">
                        <button type="submit" id="modalAccesibilidadConfirmar" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Offcanvas de opciones de usuario -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUsuario" aria-labelledby="offcanvasUsuarioTitle">
        <% if (locals.user) { %>
        <!-- Si tiene la sesión iniciada mostramos opciones de la cuenta -->

        <!-- Titulo -->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasUsuarioTitle">Mi Cuenta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- Cuerpo -->
        <div class="offcanvas-body">
            <div class="m-3 p-3 border rounded">
                <div>
                    <span class="fs-5"><%= user.rol === "admin" ? "Administrador" : "Empleado" %></span>
                </div>
                <div class="mb-3">
                    <span class="fs-6"><%= user.concesionario.nombre %></span>
                </div>
                <div class="mb-3 d-flex align-items-center">
                    <img src="/img/personas_2/<%= user.foto_perfil %>" width="40" height="40" class="d-inline-block align-text-top rounded-circle border me-2"
                        alt="<%= 'Perfil de ' + user.nombre %>">
                    <span><%= user.nombre %></span>
                </div>
                <a href="/reservas/historial">Mis Reservas</a>
                <form class="mt-3 text-center" method="post" action="/logout">
                    <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
                </form>
            </div>
        </div>

        <% } else { %>
        <!-- Si no tiene la sesion iniciada se muestra un formulario de login -->

        <!-- Titulo -->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-center fw-bold" id="offcanvasUsuarioTitle">Iniciar Sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- Cuerpo -->
        <div class="offcanvas-body">
            <form class="border rounded p-4 needs-validation" method="post" action="/login" novalidate>
                <fieldset>
                    <div class="mb-2">
                        <label for="formLoginEmail" class="form-label fw-bold">Correo Electrónico</label>
                        <div class="input-group">
                            <input type="text" id="formLoginEmail" class="form-control" name="correo" required>
                            <span class="input-group-text" id="basic-addon2">@purevolt.es</span>
                        </div>
                        <span class="invalid-feedback">Por favor ingresa tu correo electrónico empresarial (@purevolt.es)</span>
                    </div>
                    <div class="mb-3">
                        <label for="formLoginPassword" class="form-label fw-bold">Contraseña</label>
                        <input type="password" id="formLoginPassword" class="form-control" name="contrasena" required>
                        <span class="invalid-feedback">Por favor ingresa tu contraseña</span>
                    </div>
                    
                    <div class="d-flex justify-content-center gap-4 mt-4">
                        <button class="btn btn-primary">Iniciar Sesión</button>
                        
                        <a href="/registrarse" class="btn btn-success text-decoration-none">Registrarse</a>
                    </div>

                </fieldset>
            </form>
        </div>
        <% } %>

    </div>

<footer class="text-center border-top">
    <div class="container">
        <p class="mb-2"><small><span class="fw-bold">© 2025 PureVolt — Soluciones corporativas de movilidad</span></small></p>
        <p class="mb-1"><small><span class="fw-bold">Correo de contacto:</span> contacto@purevolt.es</small></p>
        <p class="mb-2"><small><span class="fw-bold">Teléfono de contacto:</span> +34 123 45 67 89</small></p>
    </div>
</footer>

</body>

</html>