<% let iconSize=14 %>

<h1>Historial de reservas</h1>

<div class="table-responsive text-center">
    <table class="table table-striped w-auto mt-5 mx-auto">
        <thead>
            <th scope="col">Control</th>
            <th scope="col">Identificador</th>
            <th scope="col">Estado</th>
            <th scope="col">Vehículo</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de Fin</th>
            <th scope="col">Kilometros Recorridos</th>
            <th scope="col">Incidencias Reportadas</th>
        </thead>
        <tbody>
            <% reservas.forEach(r => { %>
            <tr>
                <% v = r.vehiculo %>
                <td>
                    <button class="btn <%= r.estado==="activa" ? "btn-danger" : "btn-secondary" %>" <%= r.estado==="activa" ? "" : "disabled" %>
                        title="Cancelar Reserva <%= r.id_reserva %>" aria-label="Cancelar Reserva <%= r.id_reserva %>"
                        onclick=<%= `showCancelModal(${r.id_reserva})`%>>
                        <i class="bi bi-ban" alt="Icono cancelar"></i>
                    </button>
                    <button class="btn <%= r.estado==="activa" ? "btn-primary" : "btn-secondary" %>" <%= r.estado==="activa" ? "" : "disabled" %>
                        title="Finalizar Reserva <%= r.id_reserva %>" aria-label="Finalizar Reserva <%= r.id_reserva %>"
                        onclick=<%= `showReturnModal(${r.id_reserva},${v.autonomia_actual})` %>>
                        <i class="bi bi-box-arrow-in-left" alt="Icono devolver"></i>
                    </button>
                </td>
                <td class="text-truncate"><%= r.id_reserva %></td>
                <td class="text-truncate"><%= myUtils.capitalize(r.estado) %></td>
                <td class="text-truncate"><%= v.matricula %> - <%= v.marca %> <%= v.modelo %></td>
                <td class="text-truncate"><%= myUtils.formatDate(r.fecha_inicio) %></td>
                <td class="text-truncate"><%= myUtils.formatDate(r.fecha_fin) %></td>
                <td class="text-truncate"><%= r.kilometros_recorridos %></td>
                <td class="text-truncate"><%= r.incidencias_reportadas %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>


<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formDeleteConfirm" method="POST" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfirmacionLabel">Atención</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modalConfirmacionBody" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>


                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDevolucion" tabindex="-1" aria-labelledby="modalDevolucionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formDeleteConfirm" method="POST" class="needs-validation" novalidate action="/reservas/finalizar">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDevolucionLabel">Atención</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modalDevolucionBody" class="modal-body">
                    <fieldset>
                        <legend class="fs-5">Finalizar reserva</legend>
                        <input id="devolcionIdReserva" type="hidden" name="id_reserva">
                        <div class="mb-3">
                            <label for="kilometros_recorridos" class="form-label">Kilometros Recorridos</label>
                            <input id="kilometros_recorridos" name="kilometros_recorridos" type="number" class="form-control" min="0" required>
                            <span id="devolucionKmFeedback" class="invalid-feedback"></span>
                        </div>
                        <div class="mb-3">
                            <label for="incidencias_reportadas" class="form-label">Incidencias</label>
                            <textarea id="incidencias_reportadas" name="incidencias_reportadas" class="form-control" rows="4"></textarea>
                        </div>


                    </fieldset>
                    <fieldset>
                        <legend class="fs-5">Reseña</legend>

                        <div class="mb-3">
                            <label for="valoracion.nombre" class="form-label">Nombre de Cliente</label>
                            <input type="text" id="valoracion.nombre" name="valoracion[nombre]" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <h5 for="valoracion[estrellas]" class="form-label fs-6">Valoración</h5>
                            <div class="star-rating animated-stars">
                                <input type="radio" id="star5" name="valoracion[estrellas]" value="5" required>
                                <span class="invalid-feedback">Indica una valoración</span>
                                <label for="star5" class="bi bi-star-fill"></label>
                                <input type="radio" id="star4" name="valoracion[estrellas]" value="4">
                                <label for="star4" class="bi bi-star-fill"></label>
                                <input type="radio" id="star3" name="valoracion[estrellas]" value="3">
                                <label for="star3" class="bi bi-star-fill"></label>
                                <input type="radio" id="star2" name="valoracion[estrellas]" value="2">
                                <label for="star2" class="bi bi-star-fill"></label>
                                <input type="radio" id="star1" name="valoracion[estrellas]" value="1">
                                <label for="star1" class="bi bi-star-fill"></label>
                            </div>

                        </div>
                        <div class="mb-3">
                            <label for="valoracion.comentario" class="form-label">Comentario</label>
                            <textarea id="valoracion.comantario" name="valoracion[comentario]" class="form-control" rows="4"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>


                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script defer src="/js/reservasHistorial.js"></script>