<h1>Vehículos Disponibles</h1>
<button class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasFiltrarVehiculos">Filtrar</button>

<div class="row row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
    <% if (vehiculos.length===0) { %>
    <h5>No se han encontrado vehículos</h5>
    <% } %>
    <% vehiculos.forEach(v => { %>
    <div class="col">
        <div class="card shadow ">
            <div class="ratio ratio-16x9 ">
                <img src="img/vehiculos/<%= v.imagen %>" class="card-img-top bg-light w-100 h-100 object-fit-contain">
            </div>
            <div class="row card-body">
                <h5 class="card-title"><%= v.marca %> <%= v.modelo %> <span class="
                            <% if (v.estado==="disponible") { %>text-bg-success
                            <% } else if (v.estado==="reservado") { %>text-bg-danger
                            <% } else { %>text-bg-warning
                            <% } %>
                           badge"> <%= myUtils.capitalize(v.estado) %></span> </h5>
                <div class="card-text">
                    <ul>
                        <li>Matrícula: <%= v.matricula %></li>
                        <li>Año: <%= v.anyo_matriculacion %></li>
                        <li>Número de plazas: <%= v.numero_plazas %></li>
                        <li>Autonomía: <%= v.autonomia_km %>km</li>
                        <li>Color: <%= myUtils.capitalize(v.color) %></li>
                    </ul>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/reservas/<%= v.id_vehiculo %>" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
    <% }) %>


</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFiltrarVehiculos" aria-labelledby="offcanvasFiltrarVehiculosTitle">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFiltrarVehiculosTitle">Filtrar Vehículos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="m-3 p-3 border rounded" id="filtroVehiculosForm" method="GET">
            <fieldset class="border-bottom mb-3 pb-3">
                <legend class="fs-5">Color</legend>
                <div class="form-check ~form-check-inline">
                    <input type="checkbox" class="form-check-input" id="filtroVehiculosColor-all" <% if (filtros.color.length===0) { %> checked <% } %>>
                    <label class="form-check-label" for="filtroVehiculosColor-all">Todos</label>
                </div>
                <% opciones.color.forEach(c => { %>
                <div class="form-check ~form-check-inline">
                    <input type="checkbox" class="form-check-input filtroVehiculosColor-option" id="filtroVehiculosColor-<%= c.replace(/\s+/g, '-') %>" <% if (filtros.color && filtros.color.includes(c)) { %> checked <% } %> name="color" value="<%= c %>">
                    <label class="form-check-label" for="filtroVehiculosColor-<%= c.replace(/\s+/g, '-') %>"><%= myUtils.capitalize(c) %></label>
                </div>
                <% }) %>

            </fieldset>
            <fieldset class="border-bottom pb-3 mb-3">
                <legend class="fs-5">Número de plazas</legend>
                <div class="form-check ~form-check-inline">
                    <input type="checkbox" class="form-check-input " id="filtroVehiculosNumeroPlazas-all" <% if (filtros.numero_plazas.length===0) { %> checked <% } %>>
                    <label class="form-check-label" for="filtroVehiculosNumeroPlazas-all">Todos</label>
                </div>
                <% opciones.numero_plazas.forEach(p => { %>
                <div class="form-check ~form-check-inline">
                    <input type="checkbox" class="form-check-input filtroVehiculosNumeroPlazas-option" id="filtroVehiculosNumeroPlazas-<%= p %>" <% if (filtros.numero_plazas && filtros.numero_plazas.includes(p)) { %> checked <% } %> name="numero_plazas" value="<%= p %>">
                    <label class="form-check-label" for="filtroVehiculosNumeroPlazas-<%= p %>"><%= p %></label>
                </div>
                <% }) %>

            </fieldset>
            <fieldset class="border-bottom pb-3 mb-3">
                <legend class="fs-5">Autonomía mínima</legend>
                <input type="range" class="form-range" min="0" max="1000" step="50" value="<% if (!filtros.autonomia_km) { %>0<% } else { %><%= filtros.autonomia_km %><% } %>" id="filtroAutonomia" name="autonomia_km">
                <output for="filtroAutonomia" id="filtroAutonomiaValor" aria-hidden="true"></output>
            </fieldset>
            <fieldset>
                <div class="g-1 row row-cols-1 row-cols-md-2">
                    <div class="col">
                        <button id="filtroVehiculosConfirm" class="btn btn-primary" type="submit">Confirmar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="reset" id="filtroVehiculosReset">Limpiar Filtros</button>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>

<script src="/js/filtrarVehiculos.js"></script>